/* Tailwind layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Body styling */
body {
  font-family: 'Poppins', Helvetica, sans-serif;
  background: var(--background);
  color: var(--foreground);
}
